<div id="container">

  <h1>Health Tracker Dashboard</h>

    <h3> This is a dashboard of your key health metrics.</h3>

      <p>Total steps today: <%= Step.steps_on_day(Date.today) %></p>

      <p id="link"><%= link_to 'All Steps', steps_path %></p>
      <p id="link"><%= link_to 'All Exercises', exercises_path %></p>
      <p id="link"><%= link_to 'All Calories Consumed', calorics_path %></p>
      <p id="link"><%= link_to 'All Weight Entries', weights_path %></p>

</div>
