<div id="container">

  <h1>Health Tracker Dashboard</h>

    <h3> This is a dashboard of your key health metrics.</h3>

      <p>Your total number of steps is: <%=Step.sum_steps%></p>
      <p>Your total number of step entries is: <%=Step.step_count%></p>

      <p id="link"><%= link_to 'All Steps', steps_path %></p>
      <p id="link"><%= link_to 'All Exercises', exercises_path %></p>
      <p id="link"><%= link_to 'All Calories Consumed', calorics_path %></p>
      <p id="link"><%= link_to 'All Weight Entries', weights_path %></p>


</div>
