<div id="container">

  <h1>Health Tracker Dashboard</h>

    <h3> This is a dashboard of your key health metrics.</h3>

      <p>Total steps today: <%= Step.steps_on_day(Date.today) %> steps</p>
      <p>Total calories burned by taking steps today: <%= Step.steps_calories_today%> calories</p>
      <p>Total calories burned through other exercise today: <%= Exercise.calories_burned_today%> calories</p>
      <p>Total calories consumed today: <%=Caloric.consumed_today%> calories </p>

      <p id="link"><%= link_to 'All Steps', steps_path %></p>
      <p id="link"><%= link_to 'All Exercises', exercises_path %></p>
      <p id="link"><%= link_to 'All Calories Consumed', calorics_path %></p>
      <p id="link"><%= link_to 'All Weight Entries', weights_path %></p>
      <p id="link"><%= link_to 'All Exercise Types', exercise_types_path %></p>

</div>
