<div id="container">

  <h1>Health Tracker Dashboard</h>

    <h3> This is a dashboard of your key health metrics.</h3>

    <p>The total number of calories consumed and burned <span id="day">today</span> is:<span id="information"> <%= @today.net_calories %> calories</span></p>

    <p>The total number of calories consumed and burned <span id="day">yesterday</span> is: <span id="information"><%= @yesterday.net_calories %> calories</span></p>

    <p>Your total number of calories consumed <span id="day">today</span> is: <span id="information"><%=@calories_today%> calories</span></p>
    <p>Your total number of calories burned through exercise <span id="day">today</span> is:<span id="information"> <%=@burned_today  %> calories</span></p>
    <p>Your total number of steps taken <span id="day">today</span> is:<span id="information"> <%=@steps_today%> steps</span>, which burned <span id="information"><%=@steps_burned%> calories</span></p>

      <p id="link"><%= link_to 'All Steps', steps_path %></p>
      <p id="link"><%= link_to 'All Exercises', exercises_path %></p>
      <p id="link"><%= link_to 'All Calories Consumed', calorics_path %></p>
      <p id="link"><%= link_to 'All Weight Entries', weights_path %></p>
      <p id="link"><%= link_to 'All Exercise Types', exercise_types_path %></p>

</div>
