<div id="container">
<div id ="leftcolumn">
  <h1>Health Tracker Dashboard</h>

    <h3> This is a dashboard of your key health metrics.</h3>

    <p>The total number of calories consumed and burned today is: <%= @today.net_calories %> calories</p>

    <p>The total number of calories consumed and burned yesterday is: <%= @yesterday.net_calories %> calories</p>

    <p>Your total number of calories consumed today is: <%=@calories_today%> calories</p>
    <p>Your total number of calories burned through exercise today is: <%=@burned_today  %> calories</p>
    <p>Your total number of steps taken today is: <%=@steps_today%> steps, which burned <%=@steps_burned%> calories</p>


      <p id="link"><%= link_to 'All Steps', steps_path %></p>
      <p id="link"><%= link_to 'All Exercises', exercises_path %></p>
      <p id="link"><%= link_to 'All Calories Consumed', calorics_path %></p>
      <p id="link"><%= link_to 'All Weight Entries', weights_path %></p>
      <p id="link"><%= link_to 'All Exercise Types', exercise_types_path %></p>
</div>
<div id="rightcolumn">    <%= render 'form' %></div>

</div>
