<div id="container">
  <div id ="leftcolumn">
    <h1>Health Tracker Dashboard</h1>

      <h3> This is a dashboard of your key health metrics.</h3>

      <p>The total number of calories consumed and burned <span id="day">today</span> is:</p>
        <p><span id="information"> <%= @today.net_calories %> calories</span></p>

      <p>The total number of calories consumed and burned <span id="day">yesterday</span> is: </p>
        <p><span id="information"><%= @yesterday.net_calories %> calories</span></p>

      <p>Your total number of calories consumed <span id="day">today</span> is:</p>
        <p><span id="information"><%=@calories_today%> calories</span></p>
      <p>Your total number of calories burned through exercise <span id="day">today</span> is:</p>
        <p><span id="information"> <%=@burned_today  %> calories</span></p>
      <p>Your total number of steps taken <span id="day">today</span> is:</p>
        <p><span id="information"> <%=@steps_today%> steps</span></p>
        <p>Your total steps burned:</p>
        <p> <span id="information"><%=@steps_burned%> calories</span></p>


      <p id="link"><%= link_to 'All Steps', steps_path %></p>
      <p id="link"><%= link_to 'All Exercises', exercises_path %></p>
      <p id="link"><%= link_to 'All Calories Consumed', calorics_path %></p>
      <p id="link"><%= link_to 'All Weight Entries', weights_path %></p>
      <p id="link"><%= link_to 'All Exercise Types', exercise_types_path %></p>

  </div id="rightcolumn">
  <div>
  <h2>Create a calorie entry</h2>
    <div> <%= render '/calorics/form' %></div>
  <h2>Create a steps entry</h2>
    <div> <%= render '/steps/form' %></div>
  <h2>Create an exercise entry</h2>
    <div> <%= render '/exercises/form' %></div>
  <h2>Create a weight entry</h2>
    <div> <%= render '/weights/form' %></div>
  </div>
  <br />
</div>
