<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @calory.date %>
</p>

<p>
  <strong>Number:</strong>
  <%= @calory.number %>
</p>

<%= link_to 'Edit', edit_calory_path(@calory) %> |
<%= link_to 'Back', calories_path %>
