<%= form_for(@caloric) do |f| %>
  <% if @caloric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caloric.errors.count, "error") %> prohibited this caloric from being saved:</h2>

      <ul>
      <% @caloric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
